@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap&family=Libre+Franklin:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  font-family: "Fira Sans", sans-serif;
  --max-width: 640px;
}

.App {
  margin: 0 auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.header {
  max-width: var(--max-width);
  margin: 0 auto;
  text-align: left;
}

/* mouse over link */
a:hover {
  color: #ffbc30;
}

/* visited link */
a:visited {
  color: #909090;
}

/* unvisited link */
a:link {
  color: #26a0a5;
  text-decoration: underline;
}

.mainHed {
  font-size: 2rem;
  line-height: 2.5rem;
  font-weight: 500;
  max-width: var(--max-width);
  margin: 1.5rem auto;
  text-align: left;
}

body {
  /* fira sans styling for whole tool/report */
  font-family: "Fira Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  background-color: fff;

  /* libre franklin styling */
  /* font-family: "Libre Franklin", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal; */
}

/* filters styling */
.instructions {
  margin-bottom: 1rem;
  font-style: normal; /* italic? */
}

.resultsInstructions {
  margin-bottom: 1rem;
  margin-top: 1rem;
  font-style: italic;
}

/* filters styling */
.filtersContainer {
  font-family: "Fira Sans", sans-serif;
}

.newsroomButtons {
  display: inline-block;
  border: none;
  border-radius: 5px;
  background-color: C7C7C7;
  padding: 5px 10px;
  margin: 5px;
  cursor: pointer;
  font-size: 12px;
  font-weight: bold;
  color: #333;
  text-align: center;
  text-decoration: none;
}

.filtersContainer,
.methodologyContainer {
  background-color: #f6f6f6;
  /* for visiblity - comment out later */
  border: 1px solid #000;
  padding: 1rem;
  border-radius: 5px;
  filter: drop-shadow(#e1e1e1 0.5rem 0.5rem 0rem);
  max-width: var(--max-width);
  margin: 1.5rem auto;
}

.methodologyContainer ul {
  list-style: inside;
}

.deptResultsContainer {
  padding: 1rem;
  max-width: var(--max-width);
  margin: 1.5rem auto;
}

.filtersSubhed,
.methodologySubhed {
  font-size: 1.25rem;
  font-weight: 500;
  margin-right: 1rem;
}

.methodologySubhed {
  margin-bottom: 0.5rem;
}

.newsroomButtonsContainer {
  cursor: pointer;
  /* display: block; */
  border: none;
  border-radius: 5px;
  background-color: C7C7C7;
  font-size: 12px;
  font-weight: bold;
  color: #333;
  text-decoration: none;

  margin-top: 0.5rem;
  margin-bottom: 1rem;
}

.newsButton {
  text-align: center;
  font-size: 1rem;
  font-weight: 500;
  color: #3e3e3e;
  padding: 0.5rem 1rem;
  /* border: 1.5px solid #189196; */
  border-radius: 5px;
  background-color: #c7c7c7;
  align-items: right;
  margin-right: 0.5rem;
}

.newsButton:hover,
.newsButton:focus {
  color: #fff;
  background-color: #909090;
}

.deptDropdownWrapper {
  position: relative;
  max-width: 18rem;
}

.deptDropdown {
  width: 100%;
  appearance: none;
  /* display: block; */
  padding: 0.5rem 0.75rem;
  /* border: 1px solid #676767; */
  border-radius: 5px;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

/* creating up and down arrows inside the dept. dropdown */

.deptDropdownWrapper::before,
.deptDropdownWrapper::after {
  --size: 0.3rem;
  position: absolute;
  content: "";
  right: 0.75rem;
  pointer-events: none;
}

.deptDropdownWrapper::before {
  border-left: var(--size) solid transparent;
  border-right: var(--size) solid transparent;
  border-bottom: var(--size) solid black;
  top: 40%;
}

.deptDropdownWrapper::after {
  border-left: var(--size) solid transparent;
  border-right: var(--size) solid transparent;
  border-top: var(--size) solid black;
  top: 55%;
}

.deptSubHed {
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 1rem;
}

.deptGroupSubHed {
  font-size: 1.25rem;
  font-weight: 400;
  margin-bottom: 0.5rem;
}

.deptGroupSubCategory {
  font-size: 1.15rem;
  font-weight: 400;
  margin: 0.5rem 0rem;
}

.deptComparison {
  font-size: 0.9rem;
  font-style: italic;
  font-weight: 300;
}

.lower {
  color: #df7821;
}

.higher {
  color: #189196;
}
